<%- include("./partials/header.ejs") %>

    <body>
        <div class="container mt-lg-2 p-0 mb-lg-5" style="max-width: 46rem;">
            <div class="card bg-white mb-3">
                <div class="card-body">
                    <h3 class="text-center">Paste the URL to be shortened</h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control input-lg" placeholder="Enter your link here." aria-label="Enter your link here.">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button">Make it's Shorten</button>
                        </div>
                    </div>
                    <p class="text-center">
                        gga-sh.xyz is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a shortened link making it easy to remember.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center"><img src="images/icon-like.png"></div>
                    <h3 class="text-center">Easy</h3>
                    <p class="text-center">gga-sh.xyz is easy and fast, enter the long link to get your shortened link</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center"><img src="images/icon-url.png"></div>
                    <h3 class="text-center">Shortened</h3>
                    <p class="text-center">Use any link, no matter what size, ShortURL always shortens</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center"><img src="images/icon-statistics.png"></div>
                    <h3 class="text-center">Statistics</h3>
                    <p class="text-center">Check the amount of clicks that your shortened url received</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center"><img src="images/icon-unique.png"></div>
                    <h3 class="text-center">Reliable</h3>
                    <p class="text-center">All links that try to disseminate spam, viruses and malware are deleted</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center"><img src="images/icon-responsive.png"></div>
                    <h3 class="text-center">Devices</h3>
                    <p class="text-center">Compatible with smartphones, tablets and desktop</p>
                </div>
            </div>
        </div>
    </body>