<head>
    <link rel="stylesheet" href="css/style-index.css">
    <script src="js/index.js"></script>
</head>

<section id="home" class="d-flex align-items-center position-relative container-fluid vh-100 bg-white">
    <div class="container-fluid container-fluid-max">
        <div class="row">
            <div class="col my-auto">
                <h1>Short links, big results</h1>
                <h2>A URL shortener built with powerful tools to help you grow and protect your brand.
                </h2>
            </div>
            <div class="col my-auto">
                <img src="images/landing.jpg" draggable="false">
            </div>
        </div>
    </div>
</section>

<section class="d-flex align-items-center position-relative container-fluid" style="background-color: #000063;min-height: 180px;">
    <div class="container-fluid container-fluid-max">
        <div class="row justify-content-between">
            <h3 class=" text-center my-auto">Paste the URL to be shortened</h3>
            <div class="input-group mb-3 my-auto">
                <input type="text " id="longurl " class="form-control input-lg " placeholder="Enter your link here. " aria-label="Enter your link here. ">
                <div class="input-group-append ">
                    <button class="btn btn-outline-success " type="button ">Make it's Shorten</button>
                </div>
            </div>
            <p class="text-center my-auto">
                gga-sh.xyz is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a shortened link making it easy to remember.
            </p>
        </div>
    </div>
</section>

<!-- <div class="container mt-lg-2 p-0 mb-lg-5 " style="max-width: 46rem; ">
        <div class="card bg-white mb-3 ">
            <div class="card-body ">
                <h3 class="text-center ">Paste the URL to be shortened</h3>
                <div class="input-group mb-3 ">
                    <input type="text " id="longurl " class="form-control input-lg " placeholder="Enter your link here. " aria-label="Enter your link here. ">
                    <div class="input-group-append ">
                        <button class="btn btn-outline-success " type="button ">Make it's Shorten</button>
                    </div>
                </div>
                <p class="text-center ">
                    gga-sh.xyz is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a shortened link making it easy to remember.
                </p>
            </div>
        </div>
    </div>
    <div class="new_footer_top ">
        <div class="container ">
            <div class="row ">

            </div>
        </div>
        <div class="footer_bg ">
            <div class="footer_bg_one "></div>
            <div class="footer_bg_two "></div>
        </div>
    </div> -->