<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div class="wrapper">
        <%- body %>
    </div>

    <%- script %>
</body>

<footer>
    <%- include("./partials/footer.ejs") %>
</footer>

</html>