<nav id="cookie-policy" class="navbar navbar-default" style="background-color: #4a148c;display: none;">
    <div class="d-flex flex-row alert alert-dismissible fade show align-items-center align-middle w-100 h-100" role="alert">
        <p class="text-white credit pl-3 pr-3 align-self-center" style="font-size: 0.8rem;">
            We use cookies to make interactions with our website and services easy and meaningful, and better understand how they are used and to tailor advertising. You can read more and make your cookie choices
            <a href="/page/policy" target="_blank" class="text-white"><u>here</u></a>. By continuing to use this site you are giving us your consent to do this.
            <a href="/page/policy" target="_blank" class="text-white"><u>Learn More</u></a>
        </p>
        <button id="policy-submit" class="btn btn-outline-light ml-4" v-on:click="setCookie_eu('cookies_consent', 1, 30)" style="width: 160px; height: 40px;">Got
            it</button>
    </div>
</nav>