<div class="sticky-top">
    <%- include("./cookie-directive.ejs") %>
        <nav class="navbar navbar-expand-lg navbar-light align-items-start bg-white">
            <div class="container">
                <a class="navbar-brand align-items-start" href="/">
                    <span class="d-inline-block align-top font-satisfy h3" style="color: #ad1457">gga.sh</span>
                </a>
            </div>
        </nav>
</div>